<div class="sidenav {{ toggleSidenav ? 'openSidenav' : 'closeSidenav' }}">
  <div class="sidenav__header"></div>
  <div class="sidenav__body">
    <div class="sidenav__body--list">
      <ul>
        <li><i class="fas fa-map-marker-alt"></i>Mapa</li>
        <li><i class="far fa-chart-bar"></i> Estadisticas</li>
        <li><i class="fas fa-bullhorn"></i> Crear Denuncia</li>
      </ul>
    </div>
  </div>
  <div class="sidenav__footer">
    <i class="far fa-flag"></i> Reportar Denuncia Falsa
  </div>
</div>
