<mdb-navbar
  SideClass="navbar navbar-expand-lg navbar-dark pink ie-nav"
  [containerInside]="false"
>
  <mdb-navbar-brand>
    <i class="fas fa-ellipsis-v" (click)="onToggleSidenav()"></i>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active waves-light" mdbWavesEffect>
        <a class="nav-link">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">El Projecto</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">Dashboard</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">Donaciones</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">Contacto</a>
      </li>
    </ul>
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link"><i class="fas fa-user-slash"></i>Salir</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link"><i class="fas fa-user-shield"></i>Entrar</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link"><mdb-icon fab icon="facebook-f"></mdb-icon></a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link"><mdb-icon fab icon="instagram"></mdb-icon></a>
      </li>
    </ul>
  </links>
</mdb-navbar>
