.new-report-page {
  width: 100%;
  display: flex;
  //align-items: center;
  height: 100vh;
  align-items: center;
  .report-form-container {
    padding-left: 240px;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    .report-form {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .form-card {
      min-width: 450px;
    }

    .form-header-image {
      background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
      background-size: cover;
    }

    ::ng-deep {
      .mat-focused .mat-form-field-label {
        color: #e83e8c;
      }

      .mat-form-field-ripple {
        background-color: #e83e8c;
      }

      textarea {
        height: 200px;
      }

      .button--upload {
        margin-bottom: 16px;
      }
    }

    .location {
      display: flex;
      justify-content: space-between;
    }
  }

  .map {
    width: 50%;
  }
}
