<agm-map
  [zoom]="5"
  [latitude]="lat"
  [longitude]="lng"
  [styles]="style"
  (mapClick)="mapClicked($event)"
>
  <ng-container *ngIf="$newMarker | async as newMarker">
    <agm-marker
      [latitude]="newMarker.lat"
      [longitude]="newMarker.long"
      [animation]="newMarker.animation"
      [markerDraggable]="newMarker.draggable"
      (dragEnd)="markerDragEnd($event)"
      (mouseOver)="markerOver(newMarker)"
      (mouseOut)="markerOut(newMarker)"
    ></agm-marker>
  </ng-container>
</agm-map>
