<agm-map
  [zoom]="5"
  [latitude]="lat"
  [longitude]="lng"
  [styles]="style"
  (mapClick)="mapClicked($event)"
>
  <ng-container *ngIf="$newMarker | async as newMarker">
    <agm-marker
      [latitude]="newMarker.lat"
      [longitude]="newMarker.long"
      [animation]="newMarker.animation"
      [markerDraggable]="newMarker.draggable"
      (dragEnd)="markerDragEnd($event)"
      (mouseOut)="markerOut(newMarker)"
    ></agm-marker>
  </ng-container>
  <ng-container *ngIf="reports">
    <agm-marker
      *ngFor="let report of reports.reports"
      [latitude]="report.lat"
      [longitude]="report.long"
      [animation]="report.animation"
      (mouseOut)="markerOut(report)"
      (markerClick)="clickedMarker(report._id)"
    ></agm-marker>
  </ng-container>
</agm-map>
